/* Scroll Bar */
html::-webkit-scrollbar {
  position: absolute;
  width: 0.5vw;
}
html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #151414;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: var(--bgColor);
}
html::-webkit-scrollbar-track {
  background-color: var(--bgColor5);
}

/* Common CSS */

@font-face {
  font-family: "Droid Serif ";
  src: url(../fonts/DroidSerif-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Droid Serif";
  src: url(../fonts/DroidSerif-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

/* Google Fonts (Roboto & Arimo) */
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Variable List */
:root {
  --bgColor: #119ee6;
  --bgColor2: #f9f9f9;
  --bgColor3: #151414;
  --sectionBg: #f9f9f9;
  --mediumFont: 24px;
  --normalFont: 14px;
  --textColor: #222222;
  --textColor2: #555555;
  --textColor3: #aaaaaa;
  --fontFamily: "Droid Serif";
  --fontFamily2: "Roboto", sans-serif;
  --fontFamily3: "Arimo", sans-serif;
  --sectionPadding: 100px 0px;
}

body {
  font-size: var(--normalFont);
  color: var(--textColor);
  font-family: var(--fontFamily2);
  font-weight: regular;
}
h1,
h2,
h3,
h4 {
  font-family: var(--fontFamily);
  color: var(--textColor);
  font-weight: semi-bold;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--textColor);
}

.btn {
  border-radius: 4px;
  text-decoration: none;
  background: transparent;
  color: black;
  padding: 10px 25px;
  font-size: 18px;
  font-family: var(--fontFamily);
  border: none;
  transition: 0.3s;
  display: inline-block;
}
.btn:hover,
.btn:active {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}
.btn span {
  padding-left: 10px;
}

.btn-main {
  color: white;
  background-color: var(--bgColor);
}

.btn-main:hover {
  background: black;
  color: white;
}

.btn-link {
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  color: var(--bgColor);
}
.btn-link span {
  padding-left: 2px;
}

.btn-link:hover {
  color: black;
}
.section-padding {
  padding: var(--sectionPadding);
}
.section-title {
  text-align: center;
}

.section-title .sub-text {
  font-size: 16px;
  line-height: 42px;
  color: #999999;
}

.section-title .title {
  font-size: 48px;
  line-height: 60px;
  color: var(--textColor);
}

.section-title {
  margin-bottom: 40px;
}
.section-title.dark .sub-text,
.section-title.dark .title {
  color: white;
}
