/*!
 * Name : OMR Host
 * Version: 1.0.0
 * Author: Sajeeb Debnath
 * Author URL: fb.me/sajeebdebnath.cse
 * Github: https://github.com/sajeebdebnath
 * Sajeeb Debnath 

 * Table of Contents:
    1. Home
        01. Header Section
        02. Hero Section
        03. Service Section
        04. Find Domain Section
        05. Domain Feature Section
        06. Pricing Section
        07. OMRhost Overview Section
        08. Our Offer Section
        09. Why Choose Us Section
        10. Testimonial Section
        11. Footer Section
*/

/* ------------------------- Home Page Start --------------------- */
/* ------------------------- Header Section CSS Start --------------------- */
.header-top-area {
  background-color: var(--bgColor3);
  color: var(--textColor3);
  padding: 20px 0;
}

.header-top-area a {
  color: var(--textColor3);
  transition: 0.3s;
}

.header-top-area a:hover {
  color: var(--bgColor);
}

.header-top-area .header-social-link,
.footer-menu .header-social-link {
  display: flex;
  gap: 20px;
}

.header-top-area .header-social-link .links,
.footer-menu .header-social-link .links {
  display: flex;
  gap: 15px;
}

.header-top-area .header-contact {
  display: flex;
  justify-content: end;
}

.header-top-area .header-contact .contact-links a {
  position: relative;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  margin-right: 20px;
}

.header-top-area .header-contact .contact-links a:last-child {
  padding-right: 0;
  margin-right: 0;
}

.header-top-area .header-contact .contact-links a:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 150%;
  background-color: rgb(51, 51, 51);
  right: 0;
}

.header-top-area .header-contact .contact-links a:last-child:after {
  width: 0;
}

.header-top-area .header-contact .contact-links a span {
  padding-left: 7px;
}
.header-bottom-right-area {
  display: flex;
  justify-content: end;
  gap: 30px;
}

.header-bottom-right-area .header-menu ul {
  display: flex;
  gap: 35px;
}

.header-bottom-area {
  background-color: var(--bgColor2);
}

.header-bottom-right-area .header-menu ul li a {
  font-size: 16px;
  padding: 25px 0;
  display: inline-block;
  transition: 0.3s;
  position: relative;
}

.header-bottom-right-area .header-menu ul li:hover a,
.header-bottom-right-area .header-menu ul li.active a,
.header-bottom-right-area .header-menu ul li:active a {
  color: var(--bgColor);
}
.header-bottom-right-area .header-menu ul li:hover a:after,
.header-bottom-right-area .header-menu ul li.active a:after,
.header-bottom-right-area .header-menu ul li:active a::after {
  background: var(--bgColor);
}

.header-bottom-right-area .header-menu ul li a:after {
  position: absolute;
  content: "";
  width: 130%;
  height: 3px;
  background: transparent;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.header-bottom-right-area .header-account-cart {
  display: flex;
  align-items: center;
}

.header-bottom-right-area .header-account-cart .header-cart {
  padding-left: 30px;
  font-size: 18px;
  color: black;
}

.header-bottom-right-area .header-account-cart .header-account-icon,
.single-service-item .service-icon {
  font-size: 24px;
  width: 65px;
  height: 65px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin-bottom: -70px;
  z-index: 99;
}

.header-bottom-right-area .header-account-cart .header-account-icon .icon,
.single-service-item .service-icon .icon {
  position: absolute;
  width: 80%;
  height: 80%;
  background: var(--bgColor);
  color: white;
  border-radius: 50%;
  margin: auto;
  left: 1px;
  right: 0;
  top: 1px;
  bottom: 0;
  line-height: 47px;
}

.header-bottom-right-area .header-account-cart .header-account-icon:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 25px;
  background: rgb(220, 220, 220);
  top: -33px;
}
.hero-slider-wrapper.owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 100px;
  text-align: center;
  background: var(--bgColor);
  color: white;
  margin-top: -50px;
  font-size: 30px;
}

.hero-slider-wrapper.owl-carousel {
  position: relative;
}

.hero-slider-wrapper.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: 0;
}
/* ------------------------- Header Section CSS End --------------------- */

/* -------------------------Hero Section CSS Start --------------------- */
.single-hero-slide {
  background-color: #f2f2f2;
}
.hero-heigth {
  height: 520px;
}
.hero-images img {
  width: 100%;
}

.hero-text-wrapper .title {
  font-size: 48px;
  line-height: 72px;
  color: black;
  margin-bottom: 30px;
}

.hero-text-wrapper .sub-text {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
  color: var(--textColor2);
}

.hero-text-wrapper {
  padding-right: 30px;
}

/* -------------------------Hero Section CSS End --------------------- */

/* -------------------------Service Section CSS Start --------------------- */
.service-area {
  background-color: var(--bgColor);
}
.single-service-item .service-icon {
  margin: 0;
  margin-top: -50px;
  margin-bottom: 25px;
}
.service-items-wrapper {
  display: flex;
}

.service-items-wrapper .single-service-item {
  padding: 20px;
  transition: 0.6s;
}

.service-items-wrapper .single-service-item .service-text h3 {
  font-size: 23px;
  color: white;
  line-height: 23px;
  margin-bottom: 20px;
}

.service-items-wrapper .single-service-item .service-text p {
  color: white;
}

.service-items-wrapper .single-service-item .btn-link {
  display: none;
  font-size: 14px;
}
.single-service-item:hover {
  background: white;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  bottom: 0;
}

.single-service-item:hover .btn-link {
  display: inline-block;
  margin-top: 20px;
}

.single-service-item:hover .service-text h3 {
  color: black;
}

.single-service-item:hover .service-text p {
  color: var(--textColor2);
}

.single-service-item:hover .service-icon {
  border-color: var(--bgColor);
}

.single-service-item:hover .service-icon .icon {
  background: black;
}
/* -------------------------Service Section CSS End --------------------- */

/* -------------------------Find Domain Section CSS STart --------------------- */
.find-domain-area {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 99;
}

.find-domain-area:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000f2;
  z-index: -1;
}
.find-domain-text-wrapper .domain-types {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 50px;
}

.find-domain-text-wrapper .domain-types .type h5 {
  font-size: 18px;
  font-weight: 80;
  font-family: var(--fontFamily);
}

.find-domain-text-wrapper .domain-types .type p {
  font-size: 16px;
}

.find-domain-text-wrapper .domain-types .type p span {
  font-size: 12px;
}
.domain-search-bar-area .search-form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 0;
  padding-left: 30px;
  color: var(--textColor2);
}

.domain-search-bar-area .search-form .domain-list {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
}

.domain-search-bar-area .search-form {
  position: relative;
  border: 10px solid var(--bgColor);
  margin-bottom: 50px;
}

.domain-search-bar-area .search-form .domain-list select {
  border: none;
  color: white;
  margin: 0;
  padding: 14px 25px;
  outline: none;
  border-radius: 0;
  background: url("https://api.iconify.design/dashicons/arrow-down-alt2.svg?color=white") no-repeat right
    black;
  -webkit-appearance: none;
  background-position: 65px 20px;
  padding-right: 40px;
}

.domain-search-bar-area .search-form .domain-list select option {
  background: white;
  color: var(--bgColor);
  border: none;
  outline: none;
  padding: 5px;
}

.find-domain-text-wrapper .search-button {
  text-align: center;
}
.find-domain-area .section-title .title {
  font-size: 36px;
}
.find-domain-text-wrapper .search-button .btn:hover {
  background: var(--bgColor);
  color: white;
}

/* -------------------------Find Domain Section CSS End --------------------- */

/* -------------------------Domain Feature Section CSS Start --------------------- */
.single-feature-item {
  margin-bottom: 35px;
}

.single-feature-item .feature-icon {
  font-size: 30px;
  color: var(--bgColor);
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

.single-feature-item .feature-icon:after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--bgColor);
  width: 200%;
  bottom: 0;
  left: 0;
}

.single-feature-item .feature-text h5 {
  font-size: 18px;
  line-height: 42px;
  color: var(--textColor);
}

.single-feature-item .feature-text p {
  line-height: 24px;
  color: #444444;
}

.domain-feature-area {
  padding-bottom: 60px;
}
/* -------------------------Domain Feature Section CSS End --------------------- */

/* -------------------------Priceing Section CSS Start --------------------- */
.pricing-area {
  background: var(--sectionBg);
}

.single-pricing-plan-item {
  box-shadow: 0.5px 0.866px 10px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  text-align: center;
}

.single-pricing-plan-item .priceing-short-info {
  background: black;
  color: white;
  padding: 25px 0;
  padding-bottom: 40px;
  border-radius: 4px 4px 0px 0px;
  position: relative;
  overflow: hidden;
}

.single-pricing-plan-item .priceing-details {
  background: white;
  padding: 25px 0;
  border-radius: 0px 0px 4px 4px;
  padding-top: 60px;
  position: relative;
}

.single-pricing-plan-item .priceing-short-info > .info-text .title {
  font-size: 18px;
  font-weight: bold;
  line-height: 42px;
  font-family: var(--fontFamily);
}

.single-pricing-plan-item .priceing-short-info > .info-text p {
  font-size: 14px;
  line-height: 30px;
  font-style: italic;
}

.single-pricing-plan-item .priceing-short-info > .info-text .price {
  font-size: 30px;
  line-height: 30px;
  font-family: var(--fontFamily);
}

.single-pricing-plan-item .priceing-details > .info-text .price span {
  font-size: 18px;
}

.single-pricing-plan-item .priceing-details .priceing-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  left: 50%;
  top: -50px;
  margin-left: -50px;
  background: black;
  font-size: 30px;
  color: white;
}

.single-pricing-plan-item .priceing-details .priceing-icon .icon {
  position: absolute;
  width: 85%;
  height: 85%;
  border-bottom: 1px solid white;
  border-radius: 50%;
  left: 8px;
  top: 8px;
  line-height: 90px;
}

.single-pricing-plan-item .priceing-details > .package-details ul li {
  font-size: 16px;
  color: #999999;
  line-height: 35px;
}

.single-pricing-plan-item .priceing-details > .package-details {
  margin-bottom: 20px;
}
.single-pricing-plan-item .priceing-details > .package-details ul li span {
  color: var(--bgColor);
  padding-right: 8px;
}

.single-pricing-plan-item .priceing-details > .package-details ul li.not span {
  color: gray;
}
.single-pricing-plan-item.recommanded .priceing-short-info:after {
  content: "Recommanded";
  position: absolute;
  top: 15%;
  left: -35%;
  background: white;
  color: var(--bgColor);
  padding: 5px 10px;
  width: 100%;
  font-family: var(--fontFamily);
  transform: rotate(-40deg);
}

.single-pricing-plan-item.recommanded .priceing-short-info {
  background: var(--bgColor);
}

.single-pricing-plan-item.recommanded .priceing-details .priceing-icon {
  background: var(--bgColor);
}

.recommanded .order-btn .btn {
  background: black;
}
/* -------------------------Priceing Section CSS End --------------------- */

/* -------------------------omrHost Overview Section CSS Start --------------------- */
.omrHost-overview-area {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 9;
}

.omrHost-overview-area::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: black;
  left: 0;
  top: 0;
  opacity: 0.98;
  z-index: -1;
}

.omrHost-overview-text-wrapper {
  display: flex;
  justify-content: space-between;
}

.omrHost-overview-text-wrapper .overview-item {
  position: relative;
}

.omrHost-overview-text-wrapper .overview-item > h4 {
  font-size: 24px;
  line-height: 42px;
  color: white;
}

.omrHost-overview-text-wrapper .overview-item > h1 {
  font-size: 48px;
  color: white;
  line-height: 60px;
  font-family: var(--fontFamily2);
  font-weight: 600;
}

.omrHost-overview-text-wrapper .overview-item:after {
  content: "\f1fa";
  position: absolute;
  font-size: 72px;
  font-family: "FontAwesome";
  top: -20px;
  color: white;
  opacity: 0.1;
  left: 0;
}
.omrHost-overview-text-wrapper .overview-item:nth-child(2):after {
  content: "\f118""";
}

.omrHost-overview-text-wrapper .overview-item:nth-child(3):after {
  content: "\f15b";
}

.omrHost-overview-text-wrapper .overview-item:nth-child(4):after {
  content: "\f091";
}

.omrHost-overview-text-wrapper .overview-item:before {
  content: "";
  position: absolute;
  height: 80%;
  background: var(--bgColor);
  width: 3px;
  top: 10%;
  right: -35%;
  transform: rotate(30deg);
  opacity: 0.15;
}

.omrHost-overview-text-wrapper .overview-item:nth-child(4):before {
  width: 0;
  height: 0;
}
/* -------------------------omrHost Overview Section CSS End --------------------- */

/* -------------------------Our offer Section CSS Start --------------------- */
.our-offer-area {
  background-color: var(--sectionBg);
}
.offer-category-wrapper .nav-tabs {
  border: none;
}
.single-offer-item {
  display: none;
}

.single-offer-item.active {
  display: block;
}
.tooltip-inner {
  background-color: var(--bgColor);
  opacity: 1 !important;
  border-radius: 0;
}
.tooltip.bs-tooltip-right .tooltip-arrow::before {
  border-right-color: var(--bgColor) !important;
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
  border-left-color: var(--bgColor) !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: var(--bgColor) !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--bgColor) !important;
}
.offer-category-wrapper ul .offer-category-item {
  background: white;
  width: 120px;
  height: 80px;
  display: inline-block;
  border: 0.5px solid rgb(238, 238, 238);
  border-left-width: 0;
  text-align: center;
  line-height: 80px;
  position: relative;
}

.offer-category-wrapper ul {
  display: flex;
}

.offer-category-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.offer-category-wrapper ul li:nth-child(1) .offer-category-item {
  border-left-width: 1px;
}

.offer-category-wrapper ul .offer-category-item .category-icon {
  font-size: 30px;
  color: #999999;
  transition: 0.3s;
}

.offer-category-wrapper ul li:hover .category-icon,
.offer-category-wrapper ul li .offer-category-item.active .category-icon {
  color: var(--bgColor);
}

.offer-category-wrapper ul .offer-category-item:after {
  content: "";
  background: var(--bgColor);
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  visibility: hidden;
}

.offer-category-wrapper ul .offer-category-item:before {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: var(--bgColor) transparent transparent transparent;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  visibility: hidden;
}
.offer-category-wrapper ul li:hover .offer-category-item:before,
.offer-category-wrapper ul li .offer-category-item.active:before,
.offer-category-wrapper ul li .offer-category-item.active:after,
.offer-category-wrapper ul li:hover .offer-category-item:after {
  visibility: visible;
}
.offer-items-wrapper {
  background: white;
  padding: 60px 0;
  box-shadow: 0.5px 0.866px 20px 0px rgb(0 0 0 / 6%);
}

.offer-items-wrapper .single-offer-text .title {
  font-size: 24px;
  line-height: 42px;
}

.offer-items-wrapper .single-offer-text > .details {
  margin: 15px 0;
  color: var(--textColor2);
  line-height: 28px;
}

.offer-items-wrapper .single-offer-text > .details blockquote {
  padding-left: 20px;
  font-style: italic;
  color: #999999;
  position: relative;
}

.offer-items-wrapper .single-offer-text > .details blockquote:after {
  content: "";
  position: absolute;
  height: 90%;
  width: 2px;
  background: rgb(238, 238, 238);
  top: 7px;
  left: 0;
}

.offer-items-wrapper .single-offer-text .btn-link {
  color: black;
}

.offer-items-wrapper .single-offer-text .btn-link:hover {
  color: var(--bgColor);
}

.single-offer-image img {
  width: 100%;
  height: 320px;
}
/* -------------------------Our offer Section CSS End --------------------- */

/* -------------------------Why Choose Us Section CSS Start --------------------- */
.single-choosing-reason-item {
  background: var(--bgColor);
  padding: 0 30px;
  height: 285px;
  display: flex;
  position: relative;
  align-items: center;
  margin: 5px;
  color: white;
}

.single-choosing-reason-item.right {
  height: 580px;
  text-align: right;
}

.single-choosing-reason-item .reason-number {
  position: absolute;
  font-size: 78px;
  font-family: var(--fontFamily);
  color: white;
  top: 5%;
  right: 20px;
  opacity: 0.15;
}

.single-choosing-reason-item.right .reason-number {
  right: auto;
  left: 20px;
  top: 25%;
}

.single-choosing-reason-item.dark {
  background: black;
}
.choosing-content-wrapper > .choosing-icon {
  font-size: 30px;
  line-height: 42px;
}

.choosing-content-wrapper > .choosing-text h5 {
  font-size: 18px;
  line-height: 42px;
  font-family: var(--fontFamily);
}

.choosing-content-wrapper > .choosing-text p {
  line-height: 24px;
}
/* -------------------------Why Choose Us Section CSS End --------------------- */

/* -------------------------Testinmonial Section CSS Start --------------------- */
.testimonial-area {
  background: var(--sectionBg);
  padding-bottom: 0;
}

.testonial-items-wrapper {
  margin-bottom: 100px;
}
.single-testimonial-item .testimonial-title-review {
  position: relative;
}

.single-testimonial-item .testimonial-title-review > h3 {
  font-size: 24px;
  line-height: 42px;
  color: var(--textColor);
}

.single-testimonial-item .testimonial-title-review > .rating {
  font-size: 18px;
  line-height: 35px;
  color: #dddddd;
  margin: 5px 0;
}

.single-testimonial-item .testimonial-title-review:after {
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 48px;
  position: absolute;
  top: -20px;
  left: 0;
  color: #dddddd;
  z-index: -2;
}

.single-testimonial-item .testimonial-text blockquote {
  font-size: 14px;
  color: var(--textColor2);
  padding-left: 12px;
  line-height: 24px;
  text-align: justify;
  position: relative;
}

.single-testimonial-item .testimonial-text blockquote:after {
  content: "";
  position: absolute;
  height: 92%;
  width: 2px;
  background: var(--bgColor);
  left: 0;
  top: 7px;
}
.single-testimonial-item .reviewer-profile {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 25px;
}

.single-testimonial-item .reviewer-profile .profile-bg {
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.single-testimonial-item .reviewer-profile > .reviewer-name h5 {
  font-family: var(--fontFamily);
  font-size: 16px;
  color: var(--textColor);
}

.single-testimonial-item .reviewer-profile > .reviewer-name p {
  color: var(--textColor2);
  line-height: 24px;
}
.testonial-items-wrapper .owl-nav {
  position: absolute;
  left: 50%;
  bottom: -70px;
  display: flex;
  gap: 25px;
  margin-left: -40px;
  font-size: 24px;
}

.testonial-items-wrapper .owl-nav .owl-prev {
  position: relative;
}

.testonial-items-wrapper .owl-nav:after {
  content: "/";
  position: absolute;
  left: 50%;
  top: -5px;
  font-size: 30px;
  margin-left: -3px;
  z-index: -99;
}

.testonial-items-wrapper .owl-nav button:hover {
  color: var(--bgColor);
}

.contact-ways-wrapper {
  background: var(--bgColor);
  padding: 40px 0;
  margin-top: 30px;
}

.contact-ways-wrapper .contact-ways-text {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: start;
}

.contact-ways-wrapper .contact-ways-text .icon {
  font-size: 36px;
  color: white;
  margin: 0;
  padding: 0;
}

.contact-ways-wrapper .contact-ways-text > .text h2 {
  color: white;
  font-size: 24px;
  line-height: 42px;
}

.contact-ways-wrapper .contact-ways-text > .text p {
  color: white;
  line-height: 30px;
}
/* -------------------------Testinmonial Section CSS End --------------------- */

/* -------------------------Footer Section CSS Start --------------------- */
.footer-area {
  background: #151414;
  color: white;
}

.footer-bottom-area {
  text-align: center;
  padding: 25px 0;
  border-top: 1px solid rgb(85, 85, 85);
}

.footer-bottom-area .copy-right-text a,
.footer-bottom-area .copy-right-text .love {
  color: var(--bgColor);
}

.footer-bottom-area .copy-right-text {
  color: #999999;
}
.footer-top-area {
  padding: 70px 0;
}

.footer-menu-area .footer-title {
  margin-bottom: 25px;
}

.footer-menu-area .footer-title > h5 {
  font-size: 18px;
  font-family: var(--fontFamily);
  color: white;
}

.footer-menu-area .footer-menu ul li,
.footer-menu-area .footer-menu ul li a {
  color: #999999;
}

.footer-menu-area .footer-menu ul li {
  line-height: 30px;
}

.footer-menu-area .footer-menu.menu ul li a {
  position: relative;
  padding-left: 23px;
}

.footer-menu-area .footer-menu.menu ul li a::after {
  content: "\f0a4";
  font-family: "FontAwesome";
  left: 0;
  position: absolute;
  top: -5px;
  font-size: 14px;
}

.footer-menu-area .footer-menu.menu ul li:hover a::after,
.footer-menu-area .footer-menu.menu ul li:hover a {
  color: var(--bgColor);
}
.footer-menu .header-social-link .links {
  gap: 10px;
}
.footer-menu .header-social-link .links a:hover {
  color: var(--bgColor);
}
.footer-menu-area .footer-menu ul li.about {
  line-height: 24px;
}

.footer-menu-area .footer-menu ul li .learn-more {
  font-size: 14px;
  color: #cccccc;
  margin: 10px 0;
  transition: 0.3s;
}
.footer-menu-area .footer-menu ul li:hover .learn-more {
  color: var(--bgColor);
}
.footer-menu .newsletter-form input[type="email"] {
  width: 100%;
  border: none;
  padding: 7px 15px;
  padding-left: 20px;
  outline: none;
  padding-right: 100px;
}

.footer-menu .newsletter-form {
  position: relative;
  margin: 15px 0;
}

.footer-menu .newsletter-form input[type="submit"] {
  position: absolute;
  right: 2px;
  border: none;
  background: var(--bgColor);
  color: white;
  top: 2px;
  padding: 5px 13px;
  font-family: var(--fontFamily);
}

.footer-menu-area .footer-menu ul li .we-accept {
  font-family: var(--fontFamily);
  margin-bottom: 10px;
}
/* -------------------------Footer Section CSS End --------------------- */

/* ------------------------- Home Page End --------------------- */
