/* Mobile Menu */
@media screen and (max-width: 991px) {
  .header-bottom-area {
    padding: 20px 0;
  }
  .header-menu {
    position: fixed;
    left: -1000%;
    top: 250px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 99;
    height: 100%;
    padding: 25px;
  }
  .sticky .header-menu {
    top: 115px;
  }

  .header-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header-bottom-right-area .header-menu ul {
    flex-direction: column;
    gap: 15px;
  }
  .header-bottom-right-area .header-menu ul li a {
    padding: 0;
  }
  .header-bottom-right-area .header-menu ul li a:after {
    width: 0;
  }
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  .service-items-wrapper .single-service-item .service-text h3 {
    font-size: 22px;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .service-items-wrapper .single-service-item .service-text h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .omrHost-overview-text-wrapper .overview-item:before {
    width: 0;
  }
  .header-bottom-right-area .header-menu ul {
    gap: 28px;
  }
  .header-menu {
    top: 200px;
  }
}

/*  MD Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .header-top-area .header-social-link,
  .footer-menu .header-social-link,
  .header-top-area .header-contact {
    justify-content: center;
    margin-bottom: 25px;
  }
  .hero-heigth {
    height: auto;
  }
  .hero-images {
    margin: 50px 0;
  }
  .hero-text-wrapper .title {
    font-size: 35px;
    line-height: 60px;
    margin: 20px 0;
  }
  .service-items-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .service-items-wrapper .single-service-item {
    margin-bottom: 50px;
  }
  .single-pricing-plan-item {
    margin-bottom: 35px;
  }
  .omrHost-overview-text-wrapper .overview-item > h4 {
    font-size: 20px;
    line-height: 40px;
  }
  .omrHost-overview-text-wrapper .overview-item > h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .omrHost-overview-text-wrapper .overview-item:before {
    width: 0;
  }
  .offer-items-wrapper {
    padding: 60px;
  }
  .single-offer-image {
    margin-top: 30px;
  }
  .single-offer-image img {
    height: auto;
  }
  .single-choosing-reason-item.right {
    height: 285px;
    text-align: left;
  }
  .single-choosing-reason-item.right .reason-number {
    top: 5%;
    right: 20px;
    left: auto;
  }
  .contact-ways-wrapper .contact-ways-text {
    gap: 15px;
  }
  .contact-ways-wrapper .contact-ways-text > .text h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .contact-ways-wrapper .contact-ways-text > .text p {
    font-size: 10px;
  }
  .footer-menu .header-social-link {
    justify-content: start;
  }

  .footer-menu-area {
    margin-bottom: 40px;
  }
  .header-menu {
    top: 200px;
  }
  .sticky .header-menu {
    top: 70px;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .header-top-area .header-social-link,
  .footer-menu .header-social-link,
  .header-top-area .header-contact {
    justify-content: center;
    margin-bottom: 25px;
  }
  .hero-heigth {
    height: auto;
  }
  .hero-images {
    margin: 50px 0;
  }
  .hero-text-wrapper .title {
    font-size: 28px;
    line-height: 40px;
    margin: 20px 0;
  }
  .hero-slider-wrapper.owl-carousel .owl-nav button {
    top: 75%;
    height: 50px;
    font-size: 20px;
  }
  .service-items-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .service-items-wrapper .single-service-item {
    text-align: center;
  }
  .single-service-item .service-icon {
    margin: auto;
    margin-top: -50px;
    margin-bottom: 25px;
  }
  .service-items-wrapper .single-service-item .service-text p {
    padding: 0 30px;
  }
  .find-domain-area .section-title .title,
  .section-title .title {
    font-size: 28px;
  }
  .find-domain-text-wrapper .domain-types .type p {
    font-size: 12px;
  }
  .single-feature-item {
    text-align: center;
  }
  .single-feature-item .feature-icon:after {
    left: -15px;
  }
  .single-pricing-plan-item {
    margin-bottom: 35px;
  }
  .omrHost-overview-text-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  .omrHost-overview-text-wrapper .overview-item:before {
    width: 0;
  }
  .omrHost-overview-text-wrapper .overview-item:after {
    left: 50%;
    margin-left: -31px;
  }
  .offer-items-wrapper {
    padding: 30px;
  }
  .single-offer-image {
    margin-top: 30px;
  }
  .single-offer-image img {
    height: auto;
  }
  .offer-category-wrapper {
    margin-bottom: 40px;
  }
  .offer-category-wrapper ul .offer-category-item {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .offer-category-wrapper ul .offer-category-item .category-icon {
    font-size: 20px;
  }
  .single-choosing-reason-item.right {
    height: 285px;
    text-align: left;
  }
  .single-choosing-reason-item.right .reason-number {
    top: 5%;
    right: 20px;
    left: auto;
  }
  .contact-ways-wrapper .contact-ways-text {
    margin-bottom: 30px;
    align-items: center;
  }
  .single-testimonial-item {
    padding: 0 15px;
  }
  .footer-menu .header-social-link {
    justify-content: start;
  }

  .footer-menu-area {
    margin-bottom: 40px;
  }
  .logo {
    text-align: center;
    margin-bottom: 10px;
  }
  .header-bottom-right-area {
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .header-bottom-right-area .header-account-cart .header-account-icon {
    margin: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .header-bottom-right-area .header-account-cart .header-account-icon:after {
    width: 0;
  }
  .header-bottom-right-area .header-account-cart .header-account-icon .icon {
    font-size: 16px;
    line-height: 28px;
  }
  .header-top-area .header-contact .contact-links a {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .header-top-area .header-contact .contact-links a:after {
    width: 0;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
